Imagine you  work for a mobile application as a Product Analyst, and you're testing changes to an existing feature. You would like to release changes to a key feature and have prepared 2 possible variants.  You've been running an experiment for 2 weeks, and now have some data with the experiment results. Specifically, you have the Click-Through-Rate (CTR) and Average Time Spent, in minutes, for each feature. The CTR means that the user is moving through different parts of the feature. A CTR of 1 would indicate the user has fully clicked on everything in a feature, while a CTR of 0 means they have not clicked anything. Your task is as follows:
 
1. Analyze the results to determine which feature (if any) results in CTR or Time Spent lift.
 
Analyzing the features Variant A , Variant B with the control group. We can see that Variant A has an increased CTR and Time spent lift than Variant B .Though Variant B also has substantial  increase in  CTR and time spent from the control group. Overall both the variants show increased CTR and time spent from the control group. These features demonstrate that there was an increased user experience. Hence, Variant A results in higher CTR and time spent lift.
 
2. Conduct statistical testing to determine if there is a statistically significant difference between the features and the control group.
 
We use ANOVA - a statistical method used to analyze if there are any statistically significant differences between the means of the groups – Variant A, Variant B, Control group. It compares the click-through rates (CTR) of the three variants: Variant A, Variant B, and a control group. In this case, The F statistic value (93.588) is high and P value is negative indicating an extremely small value. We know that when the F statistic value is high and p value is small it means that there are significant differences between the groups CTR value. In the case of ANOVA test of time spent as well, The F statistic value is high and p-value is extremely small (less than 0.05). Indicating that there are significant differences in the  time spent among the groups Variant A , Variant B  and Control. Based on the ANOVA test, we see that both the CTR and  time spent have results that are statistically significant. This means that the variants and the control group have completely different behaviours in their CTR  and time spent based on their features.
Let's do an independent t-test next for each variant compared to the control group. When comparing CTR, we see there are significant differences between both variants and the control. If we compare Time spent and Variant we see that all of the p-values are extremely low, indicating that there are statistically significant differences between the groups. Variant A  has the lowest p-value among the three comparisons, suggesting that the difference between Variant A and the control group may be the most significant. However , We also need to look at other factors such as business strategy, cost effectives ,yield , business objectives to choose the optimal variant.

3. Summarize your results. Make a recommendation to the engineering team about which feature to deploy. 
 
On performing analysis and statistical comparisons we see that there is a significant difference between the variants and control group .
The increased CTR and Time Spent signify increased user  experience of the new features - Variant A and B from the control group . 
Variant A has the lowest p-value among the comparisons between variants A,B with CTR and Time spent, suggesting that it may be the most significant.
However, For the time being I recommend deploying Variant A reiterating the fact that  we also need to look at other external business factors and quantify that is the best  optimal variant.

4. Create a roll-out plan. How quickly will you introduce the feature to your audience?
 
Based on the statistical analysis, I recommend that we should use gradual roll out plan to introduce then Variant A to the users.
 
After thoroughly testing Variant A we need to ensure that our mobile application has the infrastructure to handle the impact of the deployed variant A to deliver a positive user experience. 
 
Initially we can roll out Variant A to 10% of our users using the gradual roll out strategy and monitor the performance by calculating CTR and Time spent on the chosen group, identify potential pain points and gather user feedback.
 
If Variant A shows positive performance metrics (Increased CTR and Time Spent) and no significant downfall in user engagement and experience, we can expand the feature and deploy it to the next 20% of the users and re-run the metrics.
 
It should be substantially rolled out in a phased manner to all the users. We must ensure that we continually monitor and analyze the metrics to gauge the success of Variant A.
 
The speed of introducing the feature to the users depends on the size of the user base and the level of confidence in the positive impact observed during the phased release. 
 
It is important to strike a balance between the necessity for extensive testing and monitoring and the need to deploy quickly so as to mitigate any possible risks.

In [1]:
#importing all necessary libraries 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import ssl
from scipy import stats

ssl._create_default_https_context = ssl._create_unverified_context

In [9]:
#importing data set 
df=pd.read_csv('/Users/kanmaniratnasabapathy/Desktop/Data Science/Assign_2/experiment_dataset-2.csv')

In [10]:
df.head()

   Unnamed: 0  Age   Location   Device    Variant  Time Spent       CTR
0           0   62  Location2  Device2    Control   13.928669  0.084776
1           1   18  Location1  Device1  Variant B   11.310518  0.096859
2           2   21  Location2  Device1  Variant B   24.842100  0.097630
3           3   21  Location1  Device3  Variant B   20.061300  0.109783
4           4   57  Location1  Device2  Variant B   34.495503  0.068579

In [11]:
#drop unnamed column - doesnt add value to data
df.drop('Unnamed: 0', axis=1, inplace = True)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Age         1000 non-null   int64
 2   Location    1000 non-null   object
 3   Device      1000 non-null   object
 4   Variant     1000 non-null   object
 5   Time Spent  1000 non-null   float64
 6   CTR         1000 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 54.8+ KB

In [4]:
df.describe()

        Unnamed: 0          Age   Time Spent          CTR
count  1000.000000  1000.000000  1000.000000  1000.000000
mean    499.500000    40.715000    22.713345     0.109145
std     288.819436    13.655557     5.479292     0.022366
min       0.000000    18.000000     7.114806     0.012975
25%     249.750000    28.000000    19.216608     0.094286
50%     499.500000    41.000000    22.506707     0.108944
75%     749.250000    53.000000    26.255950     0.124238
max     999.000000    64.000000    39.395770     0.172728

In [21]:
#grouping variant with CTR and Time spent and calculating their mean.
df.groupby('Variant')[['CTR','Time Spent']].mean()

                CTR  Time Spent
Variant
Control    0.098554   20.070781
Variant A  0.120269   24.805547
Variant B  0.108933   23.343783

Variant A has an increased CTR and Time spent lift than Variant B .

In [14]:
#Analyszing experiment 

# checking CTR 
var1 = df[df['Variant']=='Variant A']['CTR']
var2 = df[df['Variant']=='Variant B']['CTR']
control = df[df['Variant']=='Control']['CTR']

p_val = stats.f_oneway(var1, var2, control)
print(p_val)

F_onewayResult(statistic=93.58891592332233, pvalue=5.638952767048183e-38)

We use ANOVA - a statistical method used to analyze if  there are any statistically significant differences between the means of the groups – Variant A , Variant B, Control group. It compares the click-through rates (CTR) of  the three variants: Variant A, Variant B, and a control group. In this case , The F statistic value (93.588) is  high and P value is negative indicating an extremely small value . We know that when the F statistic value is high and  p value is small it  means that there are significant differences between the groups CTR value.

In [15]:
# checking time  spent
var1 = df[df['Variant']=='Variant A']['Time Spent']
var2 = df[df['Variant']=='Variant B']['Time Spent']
control = df[df['Variant']=='Control']['Time Spent']

p_val = stats.f_oneway(var1, var2, control)
print(p_val)

F_onewayResult(statistic=75.60840946351124, pvalue=2.676826613664844e-31)

In the case of ANOVA test of time spent as well, The F statistic value is high and  p-value is extremely small (less than 0.05) . Indicating that there are  significant differences in the  time spent among the groups Variant A , Variant B  and Control.

Based on the ANOVA test, we see that both the CTR  and  time spent have results that are statistically significant.
This means that the variants and the control group have completely different behaviours in their CTR  and time spent 
based on their features .

Let's do an independent t-test next for each variant compared to the control, and then the variants compared to each other.

In [16]:
# T Test to compare each feature - variant with the control group 
var1 = df[df['Variant']=='Variant A']['CTR']
var2 = df[df['Variant']=='Variant B']['CTR']
control = df[df['Variant']=='Control']['CTR']

p_val = stats.ttest_ind(var1, control)
p_val_2 = stats.ttest_ind(var2, control)
p_val_3 = stats.ttest_ind(var1, var2)
print(p_val)
print(p_val_2)
print(p_val_3)

Ttest_indResult(statistic=13.829424735690674, pvalue=1.9602781756362124e-38)
Ttest_indResult(statistic=6.471814341379589, pvalue=1.8743199110459845e-10)
Ttest_indResult(statistic=7.084996970352911, pvalue=3.5871803149143595e-12)

When comparing CTR, we see there are significant differences between both variants and the control.

In [17]:
var1 = df[df['Variant']=='Variant A']['Time Spent']
var2 = df[df['Variant']=='Variant B']['Time Spent']
control = df[df['Variant']=='Control']['Time Spent']

p_val = stats.ttest_ind(var1, control)
p_val_2 = stats.ttest_ind(var2, control)
p_val_3 = stats.ttest_ind(var1, var2)
print(p_val)
print(p_val_2)
print(p_val_3)

Ttest_indResult(statistic=12.142363487062696, pvalue=8.488565679817733e-31)
Ttest_indResult(statistic=8.174237395110614, pvalue=1.4963580862256154e-15)
Ttest_indResult(statistic=3.678817539388029, pvalue=0.0002534771015085354)

 All of the p-values are extremely low, indicating that there are statistically significant differences between the groups. Variant A  has the lowest p-value among the three comparisons, suggesting that the difference between Variant A and the control group may be the most significant.However , We also need to look at other factors such as business strategy, cost , objectives to choose the optimal variant.

In [18]:
df.groupby('Variant')[['CTR']].mean()

                CTR
Variant
Control    0.098554
Variant A  0.120269
Variant B  0.108933

Variant A has a higher CTR than Variant B and control. It is statistically significant, we can  implement Variant A's features to increase CTR.

In [19]:
df.groupby('Variant')[['Time Spent']].mean()

           Time Spent
Variant
Control     20.070781
Variant A   24.805547
Variant B   23.343783

Since Variant A is better at Time Spent and it is statistically significant, we may as well pick this for our top choice for now.